@import url('https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Playwrite+MX&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Tilda Sans", sans-serif;
  --title: #d6edf4;
	--text: #c0d1d6;
	--bg: #233a88;
	--block-1: #10256b;
	--block-2: #6271a5;
}

html{
  max-width: 380px;
  margin: 0 auto;
}
body{
  max-width: 380px;
  margin: 0 auto;
  background-color: var(--bg);
  position: relative;
}


a{
  text-decoration: none;
  color: white;
}


